<h3>Your cart:</h3>

<% @items.inspect %>

<div id="cart">

<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th>Pizza</th>
      <th>Price</th>
      <th>Qty.</th>
    </tr>
  </thead>
  <tbody>
    <% total_price = 0 %>
    <% total_quantity = 0 %>
    <% @items.each do |item| %>

    <tr>
      <td><%=item[0].title%></td>
      <td><%=item[0].price%></td>
      <td><%=item[1]%></td>
    </tr>
      <% total_price += item[0].price * item[1].to_i%>
      <% total_quantity += item[1].to_i %>
  <%end%>
    <tr>
      <td>Итог:</td>
      <td><%= total_price %></td>
      <td><%= total_quantity %></td>
    </tr>


  </tbody>
</table>

<form class="form-horizontal" action="/place_order" method="post">

  <input name="order[order]" type="hidden" value="<%= @orders_input %>" />

  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input name="order[name]" type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Phone</label>
    <input name="order[phone]" type="text" class="form-control" id="exampleInputEmail2" placeholder="+7(---)-------">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Address</label>
    <textarea name="order[address]" class="form-control" id="exampleInputEmail2" placeholder="5th Avenue 1902"></textarea>
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary">Send order</button>
  <button type="button" class="btn btn-danger" onclick="return cancel_order()">Cancel</button>
  </div>
</form>

</div>