<h2>Welcome to Pizza Shop</h2>

<div class="row">

<% @products.each do |p| %>
    <div class="col-md-3">
      <div>
        <b><%= p.title%></b>
      </div>

      <div>
        <img  src="<%= p.path_to_image%>" alt="Some Image" style="height: 200px; width: 200px;">
      </div>

      <div>
        <%= p.description%>
      </div>

      <div>
        Price: <%= p.price%> rub
      </div>

      <div>
        Size: <%= p.size%> cm
      </div>

      <div>
        <button class="btn btn-success btn-sm" onclick="add_to_cart(<%= p.id %>);">Add to cart</button>
      </div>
    </div>
<% end %>

</div>
  <br />
<br />
<p id="basket"></p>
<button type="button" class="btn btn-danger" onclick="basket_clear()">Очистить корзину</button>
<br />
<br />
<button class="btn btn-primary" onclick="something()">Click me!</button>


<script>
  $(function () {
        update_input_orders();
        update_orders_button();
  });
</script>